.buttonCliente {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 1.5%;
}
.blockCliente {
    background-color: black;
}

img {
    width: 100vw;
    height: 100vh;
}

.objetos {
    margin-top: 15%;
    font-size: 30px;
}
.imagenCarrito{
    width: 100px;
    height: 100px;
}
.imagenLista{
    width: 100px;
    height: 100px;
}
button{
    color: black;
}